html, body {
      height: 100%;
    }
    .wrapper {
      min-height: 100%;
      margin: 0 auto -100px;

      align-items: flex-start;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    }
    footer, .footer, .push {
      height: 100px;
    }

    .container {
        width: 100%;
    }
